In [1]:
import numpy as np
import pandas as pd
import pickle

## Cleaning the Scraped NBA Player Data

In [2]:
with open('saved_final_player_info.pickle', 'rb') as handle:
    final_player_info = pickle.load(handle)

In [68]:
final_player_info['WAS_2017_John Wall']

['PG',
 '6-4',
 '195',
 'September 6, 1990',
 'us',
 '6',
 'University of Kentucky',
 '26',
 '78',
 '78',
 '36.4',
 '8.3',
 '18.4',
 '.451',
 '1.1',
 '3.5',
 '.327',
 '7.2',
 '14.9',
 '.480',
 '.482',
 '5.4',
 '6.8',
 '.801',
 '0.8',
 '3.4',
 '4.2',
 '10.7',
 '2.0',
 '0.6',
 '4.1',
 '1.9',
 '23.1',
 '26',
 '78',
 '2836',
 '23.2',
 '.541',
 '.190',
 '.367',
 '2.4',
 '10.6',
 '6.5',
 '46.9',
 '2.7',
 '1.4',
 '16.2',
 '30.6',
 '',
 '5.8',
 '3.0',
 '8.8',
 '.149',
 '',
 '3.8',
 '0.2',
 '4.1',
 '4.3',
 '26',
 '78',
 '2836',
 '.451',
 '11.9',
 '.810',
 '.380',
 '.082',
 '.109',
 '.238',
 '.190',
 '.480',
 '.593',
 '.364',
 '.376',
 '.389',
 '.327',
 '.140',
 '.031',
 '44',
 '.629',
 '.096',
 '.269',
 '3',
 '0',
 '16957900']

In [3]:
names = ['position', 'height', 'weight', 'D_of_B', 'Country', 'Exp', 'College', 'Age', 'games_played', 'games_started',
        'min_played/G', 'fg_made/G', 'fg_att/G', 'fg%', '3PM/G', '3PA/G', '3P%', '2PM/G', '2PA/G', '2P%', 'eFG%', 'FTM/G',
         'FTA/G', 'FT%','ORB/G', 'DRB/G', 'TRB/G', 'AST/G', 'STL/G', 'BLK/G', 'TOV/G', 'PF/G', 'PTS/G', 'Age2', 'games_played2',
        'min_played_total', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'random1',
        'OWS', 'DWS', 'WS', 'WS/48', 'random2', 'OBPM', 'DBPM', 'BPM', 'VORP', 'Age3', 'games_played3', 'min_played_total2', 'FG%2', 'Dist', '%_shots_2PA',
        '2PA%_0-3', '2PA%_3-10', '2PA%_10-16', '2PA%_16<3', '3PA%', '%_shots_2PM', '2PM%_0-3', '2PM%_3-10', '2PM%_10-16',
        '2PM%_16<3', '3PM%', '%Astd_forFGM', '%_FGA_dunks', 'dunks', '%Astd_for3FGM', '%_3PA_corner', '3PM%_corner',
        'heaves_att', 'heaves_made', 'salary']

In [4]:
player_df = pd.DataFrame(final_player_info, index=names)
player_df_original = player_df.T
player_df_original.tail()

,position,height,weight,D_of_B,Country,Exp,College,Age,games_played,games_started,...,3PM%,%Astd_forFGM,%_FGA_dunks,dunks,%Astd_for3FGM,%_3PA_corner,3PM%_corner,heaves_att,heaves_made,salary
WAS_2017_Markieff Morris,PF,6-10,245,"September 2, 1989",us,5,University of Kansas,27,76,76,...,.362,.597,.083,65,.972,.332,.323,0,0,7400000
WAS_2017_Otto Porter,SF,6-8,198,"June 3, 1993",us,3,Georgetown University,23,80,80,...,.434,.665,.027,21,.966,.402,.423,1,0,5893981
WAS_2017_Sheldon Mac,SG,6-5,200,"December 21, 1992",us,R,University of Miami,24,30,3,...,.233,.435,.000,0,.857,.400,.083,0,0,NA
WAS_2017_Tomas Satoransky,SG,6-7,210,"October 30, 1991",cz,R,,25,57,3,...,.243,.404,.041,3,1.000,.297,.364,1,0,2870813
WAS_2017_Trey Burke,PG,6-1,191,"November 12, 1992",us,3,University of Michigan,24,57,0,...,.443,.212,.000,0,.806,.171,.667,0,0,3386598

In [5]:
# Dropping the two random columns out of the dataframe 

player_df_original = player_df_original.drop('random1', axis=1)
player_df_original = player_df_original.drop('random2', axis=1)

In [21]:
player_df_original.columns

Index(['position', 'height', 'weight', 'D_of_B', 'Country', 'Exp', 'College',
       'Age', 'games_played', 'games_started', 'min_played/G', 'fg_made/G',
       'fg_att/G', 'fg%', '3PM/G', '3PA/G', '3P%', '2PM/G', '2PA/G', '2P%',
       'eFG%', 'FTM/G', 'FTA/G', 'FT%', 'ORB/G', 'DRB/G', 'TRB/G', 'AST/G',
       'STL/G', 'BLK/G', 'TOV/G', 'PF/G', 'PTS/G', 'Age2', 'games_played2',
       'min_played_total', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%',
       'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48',
       'OBPM', 'DBPM', 'BPM', 'VORP', 'Age3', 'games_played3',
       'min_played_total2', 'FG%2', 'Dist', '%_shots_2PA', '2PA%_0-3',
       '2PA%_3-10', '2PA%_10-16', '2PA%_16<3', '3PA%', '%_shots_2PM',
       '2PM%_0-3', '2PM%_3-10', '2PM%_10-16', '2PM%_16<3', '3PM%',
       '%Astd_forFGM', '%_FGA_dunks', 'dunks', '%Astd_for3FGM', '%_3PA_corner',
       '3PM%_corner', 'heaves_att', 'heaves_made', 'salary'],
      dtype='object')

In [23]:
for i in range(0,len(player_df_original)):
    if '$' in player_df_original.iloc[i,AGE2]:
        player_df_original.iloc[i,AGE2], player_df_original.iloc[i,-1] = player_df_original.iloc[i,-1], player_df_original.iloc[i,AGE2]
    elif '$' in player_df_original.iloc[i,AGE3]:
        player_df_original.iloc[i,AGE3], player_df_original.iloc[i,-1] = player_df_original.iloc[i,-1], player_df_original.iloc[i,AGE3]

In [22]:
AGE2 = 33
AGE3 = 56

In [28]:
player_df_original['salary'] = list(map(lambda x: ''.join([c for c in x if c not in ('$', ',')]), player_df_original['salary']))

In [30]:
# Getting the team name, season, and player's name into separate columns from the pandas dataframe index

player_df_original['Team'] = list(map(lambda x: x[0:3], player_df_original.index))
player_df_original['Season'] = list(map(lambda x: int(x[4:8]), player_df_original.index))
player_df_original['Name'] = list(map(lambda x: x[9:], player_df_original.index))

In [ ]:
player_df_00sandup = player_df_original[player_df_original['Season'] >= 2000]

In [ ]:
len(player_df_00sandup)

In [31]:
# Grabbing the birth year from the day of birth column

player_df_original['Birth_Year'] = list(map(lambda x: int(x[-4:]), player_df_original['D_of_B']))

In [36]:
player_df_original['Height'] = 'NA'
player_df_original['Weight'] = 'NA'

In [41]:
player_df_original.tail()

,position,height,weight,D_of_B,Country,Exp,College,Age,games_played,games_started,...,3PM%_corner,heaves_att,heaves_made,salary,Team,Season,Name,Birth_Year,Height,Weight
WAS_2017_Markieff Morris,PF,6-10,245,"September 2, 1989",us,5,University of Kansas,27,76,76,...,.323,0,0,7400000,WAS,2017,Markieff Morris,1989,82,245
WAS_2017_Otto Porter,SF,6-8,198,"June 3, 1993",us,3,Georgetown University,23,80,80,...,.423,1,0,5893981,WAS,2017,Otto Porter,1993,80,198
WAS_2017_Sheldon Mac,SG,6-5,200,"December 21, 1992",us,R,University of Miami,24,30,3,...,.083,0,0,NA,WAS,2017,Sheldon Mac,1992,77,200
WAS_2017_Tomas Satoransky,SG,6-7,210,"October 30, 1991",cz,R,,25,57,3,...,.364,1,0,2870813,WAS,2017,Tomas Satoransky,1991,79,210
WAS_2017_Trey Burke,PG,6-1,191,"November 12, 1992",us,3,University of Michigan,24,57,0,...,.667,0,0,3386598,WAS,2017,Trey Burke,1992,73,191

In [40]:
# Changing the string type weight values to int types and height values to inches

for i in range(0,len(player_df_original)):
    if player_df_original.iloc[i,2] != '':
        player_df_original.iloc[i,87] = int(player_df_original.iloc[i,2])
    elif player_df_original.iloc[i,2] == '':
        player_df_original.iloc[i,87] = 'NA'
        
    if player_df_original.iloc[i,1] != '':
        dimensions = player_df_original.iloc[i,1].split('-')
        player_df_original.iloc[i,86] = int(dimensions[0])*12 + int(dimensions[1])
    elif player_df_original.iloc[i,1] == '':
        player_df_original.iloc[i,86] = 'NA'

In [43]:
player_df_original['Position'] = ''

In [44]:
# Changing the position values to numbers corresponding to the position

positional_dict = {'PG':1, 'SG':2, 'G':12, 'SF':3, 'PF':4, 'F':34, 'C':5, 'G-F':'NA', 'F-G':'NA', 'F-C':'NA', 'C-F':'NA'}

for i in range(0,len(player_df_original)):
    for position, num in positional_dict.items():
        if player_df_original.iloc[i,0] == position:
            player_df_original.iloc[i,88] = num

In [45]:
player_df_original['Experience'] = ''

In [46]:
for i in range(0,len(player_df_original)):
    if player_df_original.iloc[i,5] != 'R':
        player_df_original.iloc[i,89] = int(player_df_original.iloc[i,5])
    elif player_df_original.iloc[i,5] == 'R':
        player_df_original.iloc[i,89] = 0

In [47]:
player_df_original.tail()

,position,height,weight,D_of_B,Country,Exp,College,Age,games_played,games_started,...,heaves_made,salary,Team,Season,Name,Birth_Year,Height,Weight,Position,Experience
WAS_2017_Markieff Morris,PF,6-10,245,"September 2, 1989",us,5,University of Kansas,27,76,76,...,0,7400000,WAS,2017,Markieff Morris,1989,82,245,4,5
WAS_2017_Otto Porter,SF,6-8,198,"June 3, 1993",us,3,Georgetown University,23,80,80,...,0,5893981,WAS,2017,Otto Porter,1993,80,198,3,3
WAS_2017_Sheldon Mac,SG,6-5,200,"December 21, 1992",us,R,University of Miami,24,30,3,...,0,NA,WAS,2017,Sheldon Mac,1992,77,200,2,0
WAS_2017_Tomas Satoransky,SG,6-7,210,"October 30, 1991",cz,R,,25,57,3,...,0,2870813,WAS,2017,Tomas Satoransky,1991,79,210,2,0
WAS_2017_Trey Burke,PG,6-1,191,"November 12, 1992",us,3,University of Michigan,24,57,0,...,0,3386598,WAS,2017,Trey Burke,1992,73,191,1,3

In [48]:
for i in range(0,len(player_df_original)):
    for j in range(7,80):
        if player_df_original.iloc[i,j] == '':
            player_df_original.iloc[i,j] = 'NA'
        elif player_df_original.iloc[i,j] != 'NA':
            player_df_original.iloc[i,j] = float(player_df_original.iloc[i,j])

In [52]:
alphabet_dict = {'A':2,'B':2,'C':2,'D':3,'E':3,'F':3,'G':4,'H':4,'I':4,'J':5,'K':5,'L':5,'M':6,'N':6,'O':6,'P':7,
                'Q':7,'R':7,'S':7,'T':8,'U':8,'V':8,'W':9,'X':9,'Y':9,'Z':9}

player_df_original['Team_Number'] = ''

In [54]:
for i in range(0,len(player_df_original)):
    character_list = [str(alphabet_dict[character]) for character in player_df_original.iloc[i,team_name]]
    player_df_original.iloc[i,-1] = int(''.join(character_list))

In [53]:
team_name = 82

In [57]:
player_df_original.head()

,position,height,weight,D_of_B,Country,Exp,College,Age,games_played,games_started,...,salary,Team,Season,Name,Birth_Year,Height,Weight,Position,Experience,Team_Number
ATL_1969_Bill Bridges,4,6-6,228,"April 4, 1939",us,6,University of Kansas,29,80,NA,...,NA,ATL,1969,Bill Bridges,1939,78,228,,6,285
ATL_1969_Dennis Hamilton,4,6-8,210,"May 8, 1944",us,1,Arizona State University,24,25,NA,...,NA,ATL,1969,Dennis Hamilton,1944,80,210,,1,285
ATL_1969_Don Ohl,2,6-3,190,"April 18, 1936",us,8,University of Illinois at Urbana-Champaign,32,76,NA,...,NA,ATL,1969,Don Ohl,1936,75,190,,8,285
ATL_1969_Dwight Waller,34,6-6,220,"October 5, 1945",us,R,Tennessee State University,23,11,NA,...,NA,ATL,1969,Dwight Waller,1945,78,220,,0,285
ATL_1969_George Lehmann,1,6-0,180,"May 1, 1942",us,1,Campbell University,26,11,NA,...,NA,ATL,1969,George Lehmann,1942,72,180,,1,285

In [75]:
player_df_original.columns

Index(['position', 'height', 'weight', 'D_of_B', 'Country', 'Exp', 'College',
       'Age', 'games_played', 'games_started', 'min_played/G', 'fg_made/G',
       'fg_att/G', 'fg%', '3PM/G', '3PA/G', '3P%', '2PM/G', '2PA/G', '2P%',
       'eFG%', 'FTM/G', 'FTA/G', 'FT%', 'ORB/G', 'DRB/G', 'TRB/G', 'AST/G',
       'STL/G', 'BLK/G', 'TOV/G', 'PF/G', 'PTS/G', 'Age2', 'games_played2',
       'min_played_total', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%',
       'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48',
       'OBPM', 'DBPM', 'BPM', 'VORP', 'Age3', 'games_played3',
       'min_played_total2', 'FG%2', 'Dist', '%_shots_2PA', '2PA%_0-3',
       '2PA%_3-10', '2PA%_10-16', '2PA%_16<3', '3PA%', '%_shots_2PM',
       '2PM%_0-3', '2PM%_3-10', '2PM%_10-16', '2PM%_16<3', '3PM%',
       '%Astd_forFGM', '%_FGA_dunks', 'dunks', '%Astd_for3FGM', '%_3PA_corner',
       '3PM%_corner', 'heaves_att', 'heaves_made', 'salary', 'Team', 'Season',
       'Name', 'Birth_Year', 'Height', 'Weight', 'Position', 'Experience',
       'Team_Number'],
      dtype='object')

In [65]:
usable_player_dict = player_df_original.T.to_dict()

In [69]:
with open('saved_usable_player_info.pickle', 'wb') as handle:
    pickle.dump(usable_player_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [72]:
clean_player_df = pd.DataFrame(usable_player_dict)

In [74]:
clean_player_df = clean_player_df.T
clean_player_df.tail()

,%Astd_for3FGM,%Astd_forFGM,%_3PA_corner,%_FGA_dunks,%_shots_2PA,%_shots_2PM,2P%,2PA%_0-3,2PA%_10-16,2PA%_16<3,...,games_started,heaves_att,heaves_made,height,min_played/G,min_played_total,min_played_total2,position,salary,weight
WAS_2017_Markieff Morris,0.972,0.597,0.332,0.083,0.78,0.483,0.483,0.287,0.154,0.157,...,76,0,0,6-10,31.2,2374,2374,PF,7400000,245
WAS_2017_Otto Porter,0.966,0.665,0.402,0.027,0.575,0.576,0.576,0.197,0.09,0.189,...,80,1,0,6-8,32.6,2605,2605,SF,5893981,198
WAS_2017_Sheldon Mac,0.857,0.435,0.4,0,0.6,0.511,0.511,0.227,0.133,0.147,...,3,0,0,6-5,9.6,287,287,SG,NA,200
WAS_2017_Tomas Satoransky,1,0.404,0.297,0.041,0.747,0.477,0.473,0.322,0.123,0.082,...,3,1,0,6-7,12.6,719,719,SG,2870813,210
WAS_2017_Trey Burke,0.806,0.212,0.171,0,0.725,0.459,0.459,0.137,0.184,0.314,...,0,0,0,6-1,12.3,703,703,PG,3386598,191